/* ---------- GLOBAL STYLING ---------- */
body {
    background: #0d0f17;
    color: #e6e6e6;
    font-family: sans-serif,"Segoe UI", Poppins, Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 40px 20px;
}

/* Heading */
h1 {
    font-size: 42px;
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    color: #4da6ff;
    text-shadow: 0px 0px 25px #005fcc;
}

/* ---------- CONTAINER CARD ---------- */
.container {
    background: #161a24;
    padding: 30px 40px;
    border-radius: 16px;
    width: 450px;
    box-shadow: 0 0 35px rgba(0, 140, 255, 0.25);
    border: 1px solid rgba(0, 153, 255, 0.3);
    text-align: center;
    transition: 0.3s ease;
}

.container:hover {
    box-shadow: 0 0 50px rgba(0, 140, 255, 0.45);
    
}

/* ---------- FILE INPUT (custom button) ---------- */
#imageInput {
    display: none;
}

.upload-label {
    background: #005fcc;
    padding: 12px 20px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
    display: inline-block;
    color: white;
    font-weight: 600;
    
}

.upload-label:hover {
    background: #0078ff;
    box-shadow: 0 0 15px rgba(0, 140, 255, 0.5);
}




/* ---------- IMAGE PREVIEW ---------- */
#preview {
    width: 270px;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid rgba(0, 153, 255, 0.4);
    padding: 5px;
    background: #0b0d14;
    box-shadow: 0 0 20px rgba(0, 153, 255, 0.25);
}

/* ---------- DETECT BUTTON ---------- */
button {
    margin-top: 20px;
    padding: 12px 32px;
    font-size: 17px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    font-weight: 600;
    background: linear-gradient(135deg, #007bff, #00c6ff);
    color: white;
    transition: 0.25s ease;
}

button:hover {
    transform: scale(1.02);
    box-shadow: 0 0 25px rgba(0, 200, 255, 0.55);
}

/* ---------- RESULT ---------- */
#result {
    margin-top: 25px;
    font-size: 22px;
    font-weight: 600;
    color: #4da6ff;
    text-shadow: 0px 0px 15px #005fcc;
}



#video {
  width: 100%;
  max-width: 320px;
  height: auto;
  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  background: #0b0d14;
}


.scan-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  pointer-events: auto;
}

.scan-overlay.hidden {
  display: none;
  pointer-events: none; /* ✅ IMPORTANT */
}


.scanner {
  width: 120px;
  height: 120px;
  border: 6px solid rgba(255,255,255,0.3);
  border-top-color: #22c55e;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 12px;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

.scan-overlay p {
  color: white;
  font-size: 1rem;
  letter-spacing: 0.5px;
}

.container {
  position: relative;   /* ✅ REQUIRED */
}

